# Dados de origem (Excel)
brinquedos.xlsx
~$brinquedos.xlsx

# Script python para atualizar o data.json
atualiza_json.py
index_old.html
data_old.json

# Pasta local de imagens (já estão no Cloudinary)
images/
bkp/

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db

# Logs e arquivos temporários
*.log

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python